.logo {
    text-decoration: none;

  }
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @include mq(tablet) {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
  }

    @include mq(desktop){
      padding-top: 24px;
      padding-bottom: 24px;
      margin-right: 93px;
    }

  }
  .logo__label {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: var(--accent-color);

    @include mq(desktop){
      font-size: 26px;
      line-height: 1.19;
    }

    &--black-theme {
        color: var(--bold-text-color);
      }

    &--white-theme {
        color: var(--white-text-color);
      }
  }
  
  .footer__logo {
    display: block;
  
    margin-right: auto;
    margin-bottom: 20px;

  }