.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 40px 48px 40px;

    display: flex;
    flex-direction: column;
    z-index: 900;

    transform: translateX(100%);
    transition: transform var(--duration) var(--timing-function);

    background-color: var(--white-text-color);
}

.mobile-menu.is-open {
    transform: translateX(0);
  }

.mobile-menu__icon:hover,
.mobile-menu__icon:focus{
    fill: var(--accent-color);
  }

.mobile-menu-nav__item{
    font-weight: 500;
    font-size: 40px;   
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--bold-text-color); 

    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mobile-menu-nav__link--current{
    color: var(--accent-color);
}

.mobile-menu-contacts{
    margin-top: auto;
    margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu-contacts--tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}

.mobile-menu-contacts--email{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.mobile-menu-socials{
    display: flex; 
    flex-wrap: wrap;
}

.mobile-menu-socials__item{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    &:not(:last-child){
        margin-right: 20px;
    }
}

.mobile-menu-socials__link {
    &::after{
    position: absolute;
    content: '';
  
    height: 22px;
    width: 1px;

    margin-left: 10px;
    }
  }
  
  .mobile-menu-socials__item:not(:last-child) .mobile-menu-socials__link::after {
      background-color: rgba(33, 33, 33, 0.2);
  }