body {
    margin: 0;

    font-size: 14px;
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    /* font-style: normal;
    font-weight: 400; */

    background-color: var(--main-bgc-color);
    color: var(--main-text-color);
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    
  }

  .title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    text-transform: uppercase;

    @include mq(desktop){
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--bold-text-color);

    @include mq(desktop){
      font-size: 36px;
      line-height: 1.17;
    }
  }