/* Header */
.header {
  position: relative;

  border-bottom: 1px solid #ececec;
  }
  
.header-container {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;

   @include mq(mobile-only){
    justify-content: space-between;
    width: 100%;
  }
  }
  

.nav__list {
    display: flex;
    align-items: center;

    @include mq(mobile-only){
      display: none;
    }
  }
  
.nav__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
      }
  }
  
.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--bold-text-color);
  
    transition: color var(--duration) var(--timing-function);
  
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    content: '';

    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
    
.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include mq(mobile-only){
      display: none;
    }

    @include mq(tablet-only){
      display: block;

    }
  }
  
  .header-contacts__link {
    display: inline-flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  
    transition: color var(--duration) var(--timing-function);
  
    &:hover,
    &:focus {
      color: var(--accent-color);
    }

        @include mq(not-desktop) {
          .header-contacts__item:first-child & {
              padding-bottom: 5px;
              padding-top: 20px;
            }

            .header-contacts__item:last-child & {
              padding-bottom: 20px;
              padding-top: 5px;
            }
    
        }    
              
}

@include mq(desktop) {
  .header-contacts__item:not(:last-child) {
      margin-right: 50px;
    }
}

 

.header-contacts__icons {
    margin-right: 10px;
    fill: currentColor;

    &:hover {
        fill: var(--accent-color);
      }
  }
 