/* Our team */
.section--bgc-grey {
    background-color: var(--secondary-bgc-color);
  }

  .team__list {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;

    // align-items: center;
  }

  .team__item {
    margin: 15px;
    // margin-right: 30px;
    padding-bottom: 30px;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  
    background-color: var(--main-bgc-color);

    flex-basis: calc(100% - 30px);

    @include mq(tablet){
      flex-basis: calc((100% - 60px) / 2);
    }

    @include mq(desktop){
      flex-basis: calc((100% - 120px) / 4);
    }

    // &:last-child {
    //     margin-right: 0;
    //   }
  }
  
  .team__section-title {
    margin-bottom: 30px;

    @include mq(desktop){
    margin-bottom: 50px;
    }
  }

  .team__img {
    margin-bottom: 30px;
    width: 450px;
    height: 460px;

    @include mq(tablet){
      width: 354px;
      height: 374px;
    }

    @include mq(desktop){
      width: 270px;
      height: 260px;
    }
  }

  .team__name {
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--bold-text-color);
  }

  .team__ability {
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  